src/main/resources/workflow/aaupush.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="User">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Username" type="xs:string" />
				<xs:element name="Firstname" type="xs:string" />
				<xs:element name="Lastname" type="xs:string" />
				<xs:element name="Email" type="xs:string" />
				<xs:element name="Password">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="7" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="Id" type="xs:int" />
		</xs:complexType>
	</xs:element>


</xs:schema>